/*General*/
body {
  font-size: 13px;
  color: #303030;
}

a {
  color: #8dc63f;
}

a:hover {
  text-decoration: none;
  color: #6bb309;
}

.general-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav > li > a {
  color: #636363;
}
.nav > li.active > a {
  background-color: #a3de57;
  font-weight: bold;
}

.nav > li.active > a:hover {
  background-color: #a3de57;
}

/* Helpers ----------- */

.show-xs {
  display: none;
}

.arrow-1 {
  background: url("../images/arrow-1.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
  display: inline-block;
  line-height: 14px;
  padding-right: 20px;
}

/*HEADER*/

#header-lg {
  background: rgba(2,76,173,1);
  background: -moz-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,76,173,1)), color-stop(100%, rgba(7,83,177,1)));
  background: -webkit-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -o-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -ms-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: linear-gradient(to bottom, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#024cad', endColorstr='#0753b1', GradientType=0 );
  border-bottom: 2px solid #a8e35d;
  height: 70px;
  line-height: 70px;
}

header .contact {
  line-height: normal;
  padding-top: 5px;
}

header .contact .btn {
 margin-top: 5px;
 width: 100%;
}

/*Buttons and Links*/
.btn {
  box-shadow: 1px 1px 3px -2px #000000;
  font-size: 13px;
  font-weight: bold;;
}

.btn.green-gradient {
  border: 1px solid #55890d;
}

.btn.green-gradient,
.news-box .title a,
.more-info-box .container > a,
.nav-container .active > a, 
.nav-container .active > a:hover,
.navbar-collapse .navbar-nav li.active a,
.navbar-collapse .navbar-nav li.active a:hover {
  background: #a8e25c;
  background: -moz-linear-gradient(top,  #a8e25c 0%, #8ec740 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8e25c), color-stop(99%,#8ec740));
  background: -webkit-linear-gradient(top,  #a8e25c 0%,#8ec740 99%);
  background: -o-linear-gradient(top,  #a8e25c 0%,#8ec740 99%);
  background: -ms-linear-gradient(top,  #a8e25c 0%,#8ec740 99%);
  background: linear-gradient(to bottom,  #a8e25c 0%,#8ec740 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8e25c', endColorstr='#8ec740',GradientType=0 );
  color: #FFFFFF;
}

.btn.green-gradient:hover,
.news-box .title a:hover,
.more-info-box .container > a:hover {
  background: #92d347;
  background: -moz-linear-gradient(top,  #92d347 0%, #7bba31 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#92d347), color-stop(99%,#7bba31));
  background: -webkit-linear-gradient(top,  #92d347 0%,#7bba31 99%);
  background: -o-linear-gradient(top,  #92d347 0%,#7bba31 99%);
  background: -ms-linear-gradient(top,  #92d347 0%,#7bba31 99%);
  background: linear-gradient(to bottom,  #92d347 0%,#7bba31 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92d347', endColorstr='#7bba31',GradientType=0 );
}

.nav-container .active > a:hover, 
.navbar-collapse .navbar-nav li.active a:hover {
  color: #FFFFFF;
}

.link-green {
  color: #8dc63f;
}

.link-green:hover {
  color: #6bb309;
}

/*Icons*/
.icon {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.icon-phone {
  background: url("../images/icon-phone.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  padding-left: 18px;
  line-height: 16px;
}

.icon-bubbles {
  background: url("../images/icon-bubbles.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 16px;
  margin-right: 7px;
  width: 16px;
}

.icon-bubbles-2 {
  background: url("../images/icon-bubbles-2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 16px;
  margin-right: 7px;
  width: 16px;
}

.icon-plus {
  background: url("../images/icon-plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 14px;
  width: 14px;
}

.ctm-icon {
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  vertical-align: text-bottom;
  width: 22px;
}

.icon-1 {
  background: url("../images/icon-1.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}

.icon-2 {
  background: url("../images/icon-2.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}

.icon-4 {
  background: url("../images/icon-4.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  display: inline-block;
  height: 14px;
  vertical-align: sub;
  width: 16px;
  margin-right: 10px;
}

.social-icon {
  border-radius: 50px;
  display: inline-block;
  height: 36px;
  width: 36px;
  background-color: #11a3dd;
  text-indent: -9999px;
}

.social-icon:hover {
  background-color: #44c4f7;
}

.social-icon.social-fb {
  background-image: url("../images/social-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-icon.social-tw {
  background-image: url("../images/social-2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-icon.social-gg {
  background-image: url("../images/social-3.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-5 {
  background: url("../images/icon-5.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
  display: inline-block;
  line-height: 14px;
  padding-right: 20px;
}

/*Navigation*/
.nav-container nav {
  box-shadow: 1px 1px 3px -2px #000000;
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  margin-bottom: 0;
  border: none;
}

.nav-container nav ul {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(238,238,238,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0px 0px 4px 4px;
}

.nav-container nav > ul {
  width: 100%;
}

.nav-container nav > ul > li {
  float: left;
  width: 12%;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  position: relative;
}

.nav-container nav > ul > li:nth-child(2),
.nav-container nav > ul > li:nth-child(3) {
 width: 20%;
}

.nav-container nav ul li a {
  display: block;
}

.nav-container nav > ul > li:first-child > a {
  border-radius: 0px 0px 0px 4px;
  -moz-border-radius: 0px 0px 0px 4px;
  -webkit-border-radius: 0px 0px 0px 4px;
  border: 0px solid #000000;
}

.nav-container nav > ul > li:last-child > a {
  border-radius: 0px 0px 4px 0;
  -moz-border-radius: 0px 0px 0px 4px;
  -webkit-border-radius: 0px 0px 0px 4px;
  border: 0px solid #000000;
}

.nav-container nav > ul > li:last-child {
  border-right: none;
}

.nav-container nav ul li a {
  color: #707070;
  font-size: 12px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
}

.nav-container nav ul li a:hover {
  background: rgba(235,235,235,1);
  background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(221,221,221,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(100%, rgba(221,221,221,1)));
  background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(221,221,221,1) 100%);
  background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(221,221,221,1) 100%);
  background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(221,221,221,1) 100%);
  background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(221,221,221,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dddddd', GradientType=0 );
  text-decoration: none;
}

.nav-container nav ul li.active a {
  color: #FFFFFF !important;
}

#header-sm {
  position: relative;
  z-index: 2;
}

#header-sm > nav {
  background: rgba(2,76,173,1);
  background: -moz-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,76,173,1)), color-stop(100%, rgba(7,83,177,1)));
  background: -webkit-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -o-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: -ms-linear-gradient(top, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  background: linear-gradient(to bottom, rgba(2,76,173,1) 0%, rgba(7,83,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#024cad', endColorstr='#0753b1', GradientType=0 );
  border: none;
  margin: 0;
}

#header-sm > nav .navbar-toggle {
  border: none;
}

#header-sm > nav .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

#header-sm > nav .navbar-toggle:hover {
  background: none;
}

#header-sm .navbar-collapse {
  border: none;
}

#header-sm .navbar-collapse > ul {
  margin: 0;
}

/*SUBMENU*/

.nav-container nav > ul > li > ul {
  box-shadow: 1px 1px 3px -2px #000000;
  display: none;
  left: 0;
  position: absolute;
  top: 55px;
  width: 150%;
  z-index: 2;
}

.nav-container nav > ul > li:hover > ul {
  display: block;
}

.nav-container nav > ul > li > ul > li {
  text-align: left;  
}

.nav-container nav > ul > li > ul > li > a {
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
}

.nav-container nav > ul > li > ul > li:last-child > a:hover {
  border-radius: 0px 0px 4px 4px;
}

.navbar-collapse {
  padding: 0;
}
.navbar-nav {
  background-color: #f1f1f1;
}
.navbar-nav li a {
  border-bottom: 1px solid #e4e4e4;
  color: #636363;
}

.navbar-nav li.open a {
  border-bottom: 1px solid #e4e4e4 !important;
}

.navbar-nav li a:hover {
  background-color: #e4e4e4 !important;
  color: #636363 !important;
}

.dropdown-menu {
  padding: 0;
}

.navbar-form {
  background-color: #f1f1f1;
  margin: 0;
  border: none;
}

/*Top*/
#top {
  background: url("../images/main-bg.png") repeat-x scroll center bottom #36a3ec;
  min-height: 138px;
}

.page-title {
  overflow: hidden;
  padding-top: 20px;
}

.page-title h1 {
  color: #003366;
  font-size: 30px;
  line-height: normal;
  float: left;
  margin: 0;
}

.page-title .search-form {
  float: right;
  width: 20%;
}

.search-form > div {
  background: url("../images/icon-3.png") no-repeat scroll 5% 50% #ffffff;
  border-radius: 4px;
  padding: 5px 5px 5px 40px;
}

.search-form .form-control {
  border: none;
  transition: none;
  box-shadow: none;
}

/*HOME*/

#top.home {
  background: url("../images/home-bg.png") repeat-x scroll center bottom #1f86db;
}

.home-top {
  color: #003365;
}

.home-top h1 {
  font-size: 38px;
}

.home-top p {
  line-height: 27px;
  font-size: 16px;
}

.home-top .home-form {
  padding-bottom: 20px;
}

.home-top .home-form select {
  height: 40px;
}

.home-top .home-form .form-group {
  float: left;
  margin: 0;
  width: 70%;

}

.home-top .home-form .btn {
  float: right;
  font-size: 21px;
  height: 40px;
  width: 25%;
}

#video {
  padding-top: 20px;
}

#video img {
  bottom: 3px;
  position: relative;
  width: 100%;
}

/*Banks Logos*/
#banks-logos {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
}

#banks-logos h4 {
 color: #303030;
 margin-top: 0;
 text-align: center;
}

#banks-logos div {
  text-align: center;
}

#banks-logos .container > div {
  margin-bottom: 30px;
}

#banks-logos .container > div:last-child {
  margin-bottom: 0;
}

#banks-logos .container .row > div {
  height: 70px;
  line-height: 70px;
}

/*NEWS*/
.news-box .title {
  background-color: #004993;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 0 15px;
  position: relative;
}

.news-box .title span {
  color: #67ccff;
}

.news-box .title a {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.news-box .title a .icon-plus {
  left: 3px;
  top: 3px;
}

.news-box .title a:hover {
  text-decoration: none;
}

.news-box li {
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  overflow: hidden;
}

.news-box li > * {
  float: left;
}

.news-box li img {
  height: 60px;
  margin-left: 5%;
}

.year {
  background-color: #67CCFF;
  border-radius: 50px;
  color: #FFFFFF;
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: normal;
  padding-top: 12px;
  text-align: center;
  font-size: 13px;
}

.year span {
  font-size: 24px;
  line-height: 15px;
}

.news-box .rate-tip {
  float: right;
  line-height: normal;
  padding: 6px 8px;
  width: 45%;
}

.rate-tip {
  background-color: #d1eeff;
  border-radius: 50px;
  color: #004993;
  font-weight: bold;
  font-size: 25px;
  overflow: hidden;
}

.rate-tip a.btn {
  border-radius: 50px;
  float: right;
}

.news-box .info {
  font-size: 13px;
  line-height: 20px;
}

/* More Info Box ----------- */
.more-info-box {
  background-color: #d1eeff;
  position: relative;
  text-align: center;
  padding-bottom: 60px;
}

.more-info-box h2 {
  margin-top: 0;
  color: #004993;
  font-size: 23px;
}

.more-info-box p {
  color: #303030;
  font-size: 15px;
  line-height: 25px;
}

.more-info-box .container > a {
  border-radius: 25px 25px 0 0;
  bottom: 0;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  left: 40%;
  line-height: 35px;
  position: absolute;
  width: 20%;
}

/* Home Tips ----------- */
#home-tips .home-tip {
  min-height: 125px;
  overflow: hidden;
}

#home-tips .home-tip > * {
  float: left;
}

#home-tips .home-tip > img {
  width: 25%;
}

#home-tips .home-tip > div {
  padding-left: 3%;
  width: 75%;
}

#home-tips .home-tip h4 {
  color: #004993;
  font-size: 18px;
}

#home-tips .home-tip p {
  line-height: 21px;
}

#home-tips .home-tip h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

#home-tips .home-tip-1 h4 {
  border-color: #f7941d;
}

#home-tips .home-tip-2 h4 {
  border-color: #8dc63f;
}

#home-tips .home-tip-3 h4 {
  border-color: #a864a8;
}

#home-tips .home-tip-4 h4 {
  border-color: #79bafc;
}

#home-tips .home-tip-5 h4 {
  border-color: #f06eaa;
}

#home-tips .home-tip-6 h4 {
  border-color: #5bc4bf;
}

#how-it-works {
  background: #67ccff;
  background: -moz-linear-gradient(top,  #67ccff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67ccff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #67ccff 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #67ccff 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #67ccff 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #67ccff 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67ccff', endColorstr='#ffffff',GradientType=0 );
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px;
}

#how-it-works h5 {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
}

#how-it-works ul {
  background-color: #FFFFFF;
  padding: 12px;
  overflow: hidden;
}

#how-it-works ul li {
  padding: 12px 0;
  border-bottom: 1px solid #e5eff9;
  overflow: hidden;
}

#how-it-works ul li > * {
  float: left;
}

#how-it-works ul li > span {
  color: #67ccff;
  font-size: 37px;
  width: 15%;
  text-align: center;
  line-height: normal;
}

#how-it-works ul li > div {
  width: 85%;
  font-size: 14px;
  line-height: 20px;
}

#how-it-works ul li > div strong {
  color: #004993;
}

#how-it-works ul li:last-child {
  border-bottom: none;
  text-align: center;
}

#how-it-works ul li:last-child > * {
  float: none;
}

/* Home Articles ----------- */
#home-articles .row > div {
  overflow: hidden;
}

#home-articles .row > div > a {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}

#home-articles h5 {
  background-color: #004993;
  border-radius: 4px;
  color: #ffffff;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin: 0;
}

.home-article {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}

.home-article:last-child {
  border-bottom: none;
}

.home-article > * {
  float: left;
}

.home-article > img {
  width: 25%;
}

.home-article > div {
  width: 75%;
  padding-left: 3%;
  color: #707070;
  line-height: 20px;
}

.home-article > div h4 {
  font-size: 17px;
}

/* Testimonials ----------- */
#testimonials h5 {
  background-color: #67ccff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  line-height: normal;
  margin: 0 0 20px;
  padding: 12px 15px;
}

#testimonials blockquote {
  background: url('../images/quotes.png') no-repeat 12px 12px #e4f5ff;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 22px;
  color: #343535;
  padding: 12px;
  padding-left: 50px;
  border-radius: 4px;
}

#testimonials blockquote p {
  margin: 0;
}

#testimonials cite {
  background: url("../images/cite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 23px;
  left: 15%;
  line-height: 23px;
  padding-left: 30px;
  position: relative;
}

.carousel-indicators {
  position: static;
  margin: 0;
  width: 100%;
  text-align: center;
}

.carousel-indicators li {
  background-color: #e4f5ff;
  border-color: #e4f5ff;
  height: 12px;
  width: 12px;
  margin: 0;
}

.carousel-indicators li.active {
  background-color: #8dc63f;
  border-color: #8dc63f;
}

/* News Letter ----------- */
#news-letter {
  background: url('../images/news-letter.png') no-repeat 53% 0;
  height: 78px;
}

#news-letter .news-form {
  margin-top: 22px;
}

#news-letter .news-form label {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

#news-letter .social > * {
  margin: 0;
  margin-right: 10px;
}

#news-letter .social {
  text-align: center;
  line-height: 78px;
}

#news-letter .social p {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

#news-letter .social p .bold {
  color: #6dcff6;
}

#news-letter .social a {
  vertical-align: middle;
}

#news-letter .social a:last-child {
  margin: 0;
}

#news-letter input[type="email"] {
  display: inline-block;
  width: 35%;
}

#news-letter .btn {
  position: relative;
  top: -3px;
}

/* Footer ----------- */
footer {
  background: #e2e2e2;
  background: -moz-linear-gradient(top,  #e2e2e2 0%, #f3f3f3 18%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(18%,#f3f3f3));
  background: -webkit-linear-gradient(top,  #e2e2e2 0%,#f3f3f3 18%);
  background: -o-linear-gradient(top,  #e2e2e2 0%,#f3f3f3 18%);
  background: -ms-linear-gradient(top,  #e2e2e2 0%,#f3f3f3 18%);
  background: linear-gradient(to bottom,  #e2e2e2 0%,#f3f3f3 18%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f3f3f3',GradientType=0 );
  line-height: 20px;
}
footer h6 {
  font-size: 13px;
  margin: 0;
}
footer a {
  color: #707070;
}

footer .show-xs ul {
  width: 100%;
  text-align: center;
}

footer .show-xs ul li {
  display: inline-block;
  padding: 5px 5%;
}

footer .show-xs ul li a {
  color: #707070;
}

/* Bottom ----------- */
#bottom {
  color: #707070;
  font-size: 11px;
  padding: 10px 0;
  background-color: #eaeaea;
  overflow: hidden;
  line-height: normal;
}

#bottom p {
  margin: 0;
}

/* Page General ----------- */
.page {
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 3px 0px #e1e1e1;
  border-radius: 5px;
}

/* Blog Page ----------- */
.post {
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

.post:last-child {
  border-bottom: none;
}

.post > img {
  float: left;
  max-width: 25%;
}

.post > div {
  width: 75%;
  padding-left: 14px;
  float: left;
}

.post p {
  line-height: 21px;
}

.post h2 {
  margin-top: 0;
}

.post .meta {
  overflow: hidden;
}

.post .meta a.link-green {
  float: right;
  margin-top: 5px;
}

.blog-pagination {
  display: inline-block;
  margin: 0;
}

.blog-pagination > li {
  display: inline-block;
  margin: 0 3px;
}

.blog-pagination > li:first-child {
  margin-left: 0;
}

.blog-pagination > li:last-child {
  margin-right: 0;
}

.blog-pagination > li > a {
  display: inline-block;
  background-color: #e1e1e1;
  border-radius: 50px;
  color: #303030;
  height: 23px;
  width: 23px;
  text-align: center;
  line-height: 23px;
}

.blog-pagination > li > a:hover {
  background-color: #cccccc;
}

.blog-pagination > li.active > a {
  background-color: #8dc63f;
  color: #FFFFFF;
}

.post > .blog-pagination {
  float: right;
}

/*ASIDE*/

.widget {
  margin-bottom: 15px;
}

.widget.news-letter {
  background-color: #e4f5ff;
  border-radius: 4px;
  padding: 20px;
}

.widget.news-letter > * {
  margin-bottom: 10px;
}
.widget.news-letter h4 {
  color: #003366;
  margin-top: 0;
}

.widget.news-letter .news-form {
  margin-bottom: 0;
  overflow: hidden;
}

.widget.news-letter .news-form input[type="email"] {
  width: 65%;
}


.widget.news-letter .news-form .btn {
  width: 30%;
  float: right;
}

.widget.news-letter .news-form > * {
  float: left;
}

.widget.news-letter p {
  font-weight: bold;
}

.widget > h3 {
  margin: 0;
  background-color: #e4f5ff;
  border-radius: 4px;
  font-size: 14px;
  color: #003366;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.widget.faq > h3,
.widget.categories > h3 {
  margin-bottom: 0;
}

.widget > h3 .glyphicon {
  color: #67ccff;
  margin-right: 10px;
}

.widget:last-child {
  margin-bottom: 0;
}

.widget article {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
}

.widget article:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.widget article > img {
  float: left;
  max-width: 25%;
}

.widget article .meta {
  margin-bottom: 15px;
}

.widget article .meta h2 {
  font-size: 14px;
  line-height: normal;
}

.widget article .meta p {
  line-height: normal;
  font-size: 12px;
  color: #898989;
}

.widget article .meta > * {
  margin: 0;
  margin-bottom: 5px;
}

.widget article div.excerpt {
  width: 75%;
  float: left;
  line-height: 19px;
  padding-left: 10px;
}

.widget.author ul {
  overflow: hidden;
  margin: 0
}

.widget.author ul li {
  float: left;
  line-height: normal;
  margin-bottom: 10px;
  overflow: hidden;
  padding-right: 10px;
  padding-top: 10px;
  width: 50%;
}
.widget.author ul li img {
  float: left;
  margin-right: 10px;
  margin-top: -10px;
}
.widget.author ul li a {
  color: #636363;
}

.widget.asked ul li {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 15px;
  overflow: hidden;
  padding-bottom: 15px;
}

.widget.asked ul li:last-child {
  border-bottom: none;
}

.widget.asked ul li > img {
  max-width: 25%;
}

.widget.asked ul li > div {
  width: 75%;
  padding-left: 10px;
}

.widget.asked ul li > * {
  float: left;
}

.widget.asked ul li a {
  color: #303030;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
}

.widget.asked ul li p {
  line-height: normal;
  margin: 0;
  color: #707070;
  margin-top: 10px;
}

/* Blog Detail Page ----------- */
.detail-page > .post > div {
  float: none;
  padding: 0;
  width: 100%;
}

.detail-page > .post .meta {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  line-height: 38px;
  margin-bottom: 18px;
}

.detail-page > .post .meta .link-green {
  margin: 0;
}

.post .post-thumbnail {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.post-share,
.comments-wrapper .title {
  color: #004993;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

.author-info .nav > li > a {
  background-color: #FFFFFF;
  border-radius: 0;
  border: none;
  color: #004993;
  font-weight: bold;
  line-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
}

.author-info .nav > li.active > a {
  background-color: #f4f4f4;
  outline: none;
}

.author-info .nav > li.active > a:hover {
  border: none;
  outline: none;
}

.author-info .nav > li > a .glyphicon {
  color: #67ccff;
  margin-right: 10px;
}

.author-info .nav-tabs {
  border: none;
}

.author-info .nav-tabs > li {
  margin: 0;
}

.author-info .tab-content > .active {
  background-color: #f4f4f4;
}

.author-info .tab-pane {
  padding: 15px 0;
}

.author-info .carousel-indicators li {
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
}

.author-info .carousel-indicators li.active {
  background-color: #a3de57;
  border: 1px solid #a3de57;
}
.post .date {
  color: #898989;
  font-size: 12px;
}

.comments-wrapper {
  padding: 20px;
}

.comments-wrapper .title {
  padding: 0;
  padding-bottom: 20px;
}

.comment {
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}

.comment:last-child {
  border-bottom: none;
}

.comment p {
  line-height: 19px;
}

.comment h5 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

.comment.reply {
  padding-left: 5%;
}

.comments-form {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 0 0 4px 4px;
}

.comments-form h4 {
  margin-top: 0;
  color: #004993;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* iPhone ----------- */
@media (max-width : 568px) {
  #banks-logos .container .row > div img {
    width: 95%;
  }

  #news-letter .social img {
    width: 30px;
  }
}

/* XS ----------- */
@media (max-width: 768px) {
  aside {
    margin-top: 20px;
  }
  .page-title {
    padding: 0;
  }

  .page-title h1 {
    line-height: 138px;
    float: none;
  }

  .post {
    text-align: center;
  }

  .post h2 {
    font-size: 18px;
  }

  .post > * {
    float: none !important;
    width: auto !important;
  }

  .post > div {
    padding: 0;
    text-align: left;
    padding-top: 20px;
  }

  .hide-xs {
    display: none !important;
  }
  .navbar-brand {
    width: 50%;
  }
  .navbar-brand img {
    width: 100%;
  }
  .show-xs {
    display: block;
  }
  .news-box .title {
    font-size: 12px;
  }
  .news-box .title a {
    width: 30%;
  }

  #news .row > div {
    margin-bottom: 20px;
  }

  #news .row > div:last-child {
    margin-bottom: 0;
  }

  .more-info-box .container > a {
    left: 25%;
    width: 50%;
  }

  #bottom p {
    width: 100%;
    text-align: center;
  }

  #news-letter {
    background: none;
    height: auto;
  }

  #news-letter .row > div {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: normal;
  }

  #news-letter .row > div:first-child {
    background-color: #11a3dd;
  }

  #news-letter .row > div:last-child {
    background-color: #004993;
    font-size: 12px;
  }
  #news-letter .social {
    text-align: left;
  }
  #news-letter .social p .break {
    display: block;
  }

  #news-letter .social a {
    vertical-align: top;
    height: 30px;
    width: 30px;
  }

  .home-top {
    text-align: center;
  }
}

/* SMALL and less ----------- */
@media (max-width: 992px) {
  .year {
    height: 40px;
    width: 40px;
    font-size: 12px;
    line-height: normal;
    padding-top: 8px;
    margin-top: 2%;
  }
  .year span {
    font-size: 20px;
    line-height: 9px;
  }
  .news-box li {
    padding: 5px;
  }
  .news-box li img {
    height: 35px;
    margin-left: 2%;
    margin-top: 2%;
  }
  .rate-tip {
    font-size: 23px;
  }
  .news-box .rate-tip {
    text-align: center;
    border-radius: 20px;
    width: auto;
  }
  .news-box .rate-tip > span {
    display: block;
  }
  .rate-tip a.btn {
    float: none;
  }

  #testimonials .row div {
    margin-bottom: 20px;
  }

  #testimonials .row div:last-child {
    margin-bottom: 0;
  }

  #news-letter .news-form {
    margin-top: 5px;
  }
  #news-letter .news-form label {
    margin: 0;
    display: block;
    margin-bottom: 5px;
  }
  #news-letter .news-form input[type="email"] {
    width: 50%;
  }

  .home-top p {
    font-size: 14px;
    line-height: 15px;
  }

  .home-top h1 {
    font-size: 30px;
    line-height: normal;
  }
  #video img {
    bottom: 4px;
  }

  .widget.news-letter .news-form input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .widget.news-letter .news-form .btn {
    width: 100%;
  }

  .widget.author ul li {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .widget > h3 {
    font-size: 13px;
  }
}

/* Between Medium and Small ----------- */
@media (min-width: 768px) and (max-width: 992px) {
  .logo img {
    width: 95%;
  }
  #banks-logos .container .row > div img {
    width: 100%;
  }
  .news-box .title {
    font-size: 14px;
  }
  .news-box .title a {
    width: 30%;
  }

  #how-it-works ul li {
    float: left;
    border-bottom: none;
    border-right: 1px solid #e5eff9;
    width: 33.33%;
    min-height: 105px;
  }
  #how-it-works ul li:nth-child(3) {
    border-right: none;
  }
  #how-it-works ul li:last-child {
    border-right: medium none;
    float: none;
    min-height: 0;
    width: 100%;
  }

  .home-article {
    min-height: 208px;
  }
}
/* Between Large and Medium ----------- */
@media (min-width: 992px) and (max-width: 1200px) { }

/* Between XLarge and Large ----------- */
@media (min-width: 1200px) {  }